*.suo
*.user
*.userosscache
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

*.[oa]
*.exe
*.cbp
*.depend
log/
record/
obj/
.exe
.vs/
Debug/
ipch/
*.db
*.pdb
*.lik
*.obj
*.csv
*.txt
MyTestNoUpload/
.rar
.zip